<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.darshaun.bunkmate">

    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FingerprintActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".first" />
        <activity android:name=".display" />
        <activity android:name=".Minimum" />
        <activity android:name=".addsub" />
        <activity android:name=".subject" />
        <activity android:name=".Monday" />
        <activity android:name=".Tuesday" />
        <activity android:name=".Wednesday" />
        <activity android:name=".Thursday" />
        <activity android:name=".Friday" />
        <activity android:name=".Saturday" />
        <activity android:name=".Daydisplay" />
        <activity android:name=".Loading" />
        <activity
            android:name=".MainDisplay"
            android:label="@string/title_activity_main_display"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".TimeTable" />
        <activity android:name=".Attendance" />
        <activity android:name=".Day"></activity>
    </application>

</manifest>